# NOTE(lourot): versions newer than 1.0.0 fail as described in
# https://github.com/canonical/charmcraft/pull/487#issuecomment-894529408
git+https://github.com/canonical/charmcraft.git@1.0.0#egg=charmcraft
